// .salary-slip {
//   margin: 20px;
//   .empDetail {
//     width: 100%;
//     text-align: left;
//     // border: 2px solid black;
//     border-collapse: collapse;
//     table-layout: fixed;
//   }

//   .head {
//     margin: 10px;
//     margin-bottom: 50px;
//     width: 100%;
//   }

//   .companyName {
//     text-align: right;
//     font-size: 25px;
//     font-weight: bold;
//   }

//   .salaryMonth {
//     text-align: center;
//   }

//   .table-border-bottom {
//     border-bottom: 1px solid;
//   }

//   .table-border-right {
//     border-right: 1px solid;
//   }

//   .table-border-left {
//     border-left: 1px solid;
//   }

//   .myBackground {
//     padding-top: 10px;
//     text-align: left;
//     border: 1px solid black;
//     height: 40px;
//   }

//   .myAlign {
//     text-align: center;
//     border-right: 1px solid black;
//   }

//   .myTotalBackground {
//     padding-top: 10px;
//     text-align: left;
//     background-color: #ebf1de;
//     border-spacing: 0px;
//   }

//   .align-4 {
//     width: 25%;
//     float: left;
//   }

//   .tail {
//     margin-top: 35px;
//   }

//   .align-2 {
//     margin-top: 25px;
//     width: 50%;
//     float: left;
//   }

//   .border-center {
//     text-align: center;
//   }
//   .border-center th,
//   .border-center td {
//     border: 1px solid black;
//   }

//   th,
//   td {
//     padding-left: 6px;
//   }
// }
.staff-payslip-container {
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;
    width: 250px;
    height: 260px;
    opacity: 0.1;
    background-image: url(/assets/images/logo1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  h3 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
  }
  h2 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
  }
  p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11.5pt;
    margin: 0pt;
  }
  // h1 {
  //   color: black;
  //   font-family: Calibri, sans-serif;
  //   font-style: normal;
  //   font-weight: bold;
  //   text-decoration: none;
  //   font-size: 20pt;
  // }
  // .s1 {
  //   color: black;
  //   font-family: Calibri, sans-serif;
  //   font-style: italic;
  //   font-weight: bold;
  //   text-decoration: none;
  //   font-size: 16pt;
  // }
  .s2 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
  }
  .s3 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
  }
  .s4 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
  }
  .s6 {
    color: #f00;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
  }
  .s7 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
  }
  .s8 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
  }
  table,
  tbody {
    vertical-align: top;
    overflow: visible;
  }
}
