<!-- <div class="p-4">
  <nz-select
    nzAllowClear
    nzPlaceHolder="Choose"
    nzShowSearch
    [nzDropdownMatchSelectWidth]="false"
  >
    <nz-option-group nzLabel="Manager">
      <nz-option nzValue="jack" nzLabel="Jack Robert"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-option-group>
    <nz-option-group nzLabel="Engineer">
      <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
    </nz-option-group>
  </nz-select>

  <br />
  <br />
  <nz-segmented [nzOptions]="['Map', 'Transit', 'Satellite']"></nz-segmented>

  <nz-button-group>
    <button nz-button nzType="default">
      <span nz-icon nzType="left"></span>
      Backward
    </button>
    <button nz-button nzType="default">
      Forward
      <span nz-icon nzType="right"></span>
    </button>
  </nz-button-group>
  <br />
  <br />
  <nz-date-picker></nz-date-picker>
  <br />
  <br />
</div> -->
<router-outlet></router-outlet>
<!-- <router-outlet *ngIf="showRouter"></router-outlet> -->
