.tinymce-custom-preview {
  .tox-tinymce {
    border: 0;
  }
}

.stamp {
  transform: rotate(12deg);
  color: #555;
  font-size: 3rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  align-self: center;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.is-passed {
  color: #0a9928;
  border: 0.5rem solid #0a9928;
  -webkit-mask-position: 13rem 6rem;
  transform: rotate(0deg);
}

.is-failed {
  color: #d23;
  border: 0.5rem double #d23;
  transform: rotate(0deg);
  -webkit-mask-position: 2rem 3rem;
}

.reset-style {
  ul,
  ol {
    list-style: revert !important;
  }
}
