<nz-modal
  [(nzVisible)]="showModal"
  nzCentered
  [nzWidth]="'500px'"
  [nzTitle]="titleTemplate"
  [nzFooter]="footerTemplate"
  [nzMaskClosable]="false"
  (nzOnCancel)="toggle()"
  [nzBodyStyle]="{ padding: '0px' }">
  <ng-container *nzModalContent>
    <form class="px-4 py-3 flex-col max-h-[500px] space-y-6 flex-1 flex overflow-auto mini-scroll-bar min-h-fit" [formGroup]="uploadTaskFormGroup">
      <div class="space-y-1.5 flex flex-col">
        <label class="font-normal text-gray-600 text-xs required">Task type</label>
        <nz-radio-group formControlName="type">
          <label *ngFor="let type of taskTypes" nz-radio [nzValue]="type.value">{{ type.name }}</label>
        </nz-radio-group>
        <ng-container *ngIf="uploadTaskFormGroup.get('type').touched">
          <p class="isms-error-message" *ngIf="uploadTaskFormGroup.get('type').hasError('required')">Task type is required</p>
        </ng-container>
      </div>
      <div class="space-y-1.5">
        <label class="font-normal text-gray-600 text-xs required">Title</label>
        <input nz-input placeholder="Type here" formControlName="title" />
        <ng-container *ngIf="uploadTaskFormGroup.get('title').touched">
          <p class="isms-error-message" *ngIf="uploadTaskFormGroup.get('title').hasError('required')">Title is required</p>
        </ng-container>
      </div>
      <div class="space-y-1.5">
        <input type="file" name="import-csv" [disabled]="uploadTaskFormGroup.invalid" id="import-csv" (change)="onUploadFile($event)" />
        <!-- <label class="font-normal text-gray-600 text-xs required">Title</label>
        <input nz-input placeholder="Type here" formControlName="title" />
        <ng-container *ngIf="generalInfoFormGroup.get('title').touched">
          <p class="isms-error-message" *ngIf="generalInfoFormGroup.get('title').hasError('required')">Title is required</p>
        </ng-container> -->
      </div>
    </form>
  </ng-container>
  <ng-template #titleTemplate>Upload Task</ng-template>
  <ng-template #footerTemplate>
    <div class="space-x-2 flex items-center justify-end">
      <button nz-button (click)="toggle()">Close</button>
      <button nz-button nzType="primary" (click)="onCreate()" [nzLoading]="viewState === 'submitting'" [disabled]="uploadTaskFormGroup.get('type').invalid">Submit</button>
    </div>
  </ng-template>
</nz-modal>
