.anticon {
  vertical-align: 0.125em;
}

/* Override black arrow background of tooltip */
.white-tooltip-arrow {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      .ant-tooltip-arrow-content {
        &::before {
          background: #fff;
        }
      }
    }
  }
}
.primary-tooltip-arrow {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      .ant-tooltip-arrow-content {
        &::before {
          background: @primary-color;
        }
      }
    }
  }
}

.no-padding-tooltip-arrow {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      @apply p-0;
    }
  }
}

.ant-tooltip-inner {
  padding: 8px 8px;
  min-width: fit-content;
}

.book-calendar {
  .ant-picker-calendar {
    background: transparent;
  }
  .ant-picker-calendar-header {
    display: none;
  }
  .ant-picker-content tr {
  }
  .ant-picker-content th {
    @apply text-xs text-white uppercase font-semibold;
  }
  .book-calendar .ant-picker-calendar-date-value {
    color: #ffffff;
  }
  .ant-picker-cell .ant-picker-cell-inner {
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    @apply rounded-full;
  }

  .ant-picker-cell {
    @apply text-white/25 font-normal;
  }
  .ant-picker-cell-in-view {
    @apply text-white/90;
  }
  .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    @apply border-2 rounded-full  border-white/90;
  }
  .book-calendar .ant-picker-cell-in-view:hover {
    @apply text-isms-500;
  }
  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
    @apply bg-white  text-isms-500;
  }
  // .ant-picker-calendar-date-value {
  //   @apply text-base;
  //   color: #ffffff;
  // }
  .ant-picker-calendar .ant-picker-panel {
    background-color: transparent;
    border-top: none;
  }
}

.ant-select-multiple .ant-select-selection-item-remove > .anticon {
  vertical-align: top;
}

.ant-select-multiple .ant-select-selection-item-remove > * {
  line-height: 1.5;
}

.no-shadow-date-picker {
  .ant-picker-dropdown {
    date-range-popup {
      .ant-picker-panel-container {
        box-shadow: none;
      }
    }
  }
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  vertical-align: 1px;
}

.no-px {
  nz-select-top-control {
    padding: 0 0 !important;
  }
}
