<nz-modal
  [(nzVisible)]="showModal"
  nzCentered
  [nzWidth]="modalWidth"
  [nzTitle]="titleTemplate"
  [nzFooter]="null"
  (nzOnOk)="(1)"
  [nzMaskClosable]="false"
  (nzOnCancel)="toggle()"
  [nzBodyStyle]="{ padding: '0px' }"
  [nzMaskStyle]="{ 'backdrop-filter': 'blur(15px)', 'background-color': 'rgb(82 76 76 / 55%)' }">
  <ng-container *nzModalContent>
    <div class="p-4 flex-col h-[calc(100vh-300px)] space-y-3 flex-1 flex overflow-auto mini-scroll-bar min-h-fit">
      <isms-task-result class="flex-1" from-page="submissions-page" [view-type]="viewType" [submission-id]="submissionId"></isms-task-result>
    </div>
  </ng-container>
  <ng-template #titleTemplate>{{ viewType === "reviewing-modal" ? "Review Submission" : "Submitted Task Information" }}</ng-template>
</nz-modal>
