<nz-modal
  [(nzVisible)]="showModal"
  nzCentered
  [nzWidth]="'400px'"
  [nzTitle]="classFormGroup.value._id ? 'Manage Class' : 'Add New Class'"
  [nzFooter]="footerTemplate"
  (nzOnOk)="onCreate()"
  [nzMaskClosable]="false"
  (nzOnCancel)="toggle(null)"
  [nzBodyStyle]="{ padding: '0px' }">
  <ng-container *nzModalContent>
    <form class="px-4 py-3 flex-col max-h-[500px] space-y-3 flex-1 flex overflow-auto mini-scroll-bar min-h-fit" [formGroup]="classFormGroup">
      <div class="space-y-1.5">
        <label class="font-normal text-gray-600 text-xs required">Name</label>
        <input nz-input placeholder="Type here" formControlName="name" />
        <ng-container *ngIf="classFormGroup.get('name').touched">
          <p class="isms-error-message" *ngIf="classFormGroup.get('name').hasError('required')">Name is required</p>
        </ng-container>
      </div>
      <div class="space-y-1.5 flex-1">
        <label class="font-normal text-gray-600 text-xs"> Course </label>
        <!-- [nzDisabled]="classFormGroup.value._id"  -->
        <nz-select formControlName="course" nzShowSearch class="w-full" nzPlaceHolder="Select course" [nzDropdownMatchSelectWidth]="false">
          <nz-option *ngFor="let course of courses" [nzLabel]="course.name" [nzValue]="course._id"></nz-option>
        </nz-select>
        <ng-container *ngIf="classFormGroup.get('course').touched">
          <p class="isms-error-message" *ngIf="classFormGroup.get('course').hasError('required')">Course is required</p>
        </ng-container>
      </div>

      <div class="space-y-1.5 flex-1">
        <label class="font-normal text-gray-600 text-xs required">Type of Rate</label>
        <div>
          <nz-radio-group formControlName="typeOfRate" [nzDisabled]="classFormGroup.value._id && account.account.role !== 'admin'">
            <label nz-radio nzValue="monthly-rate">Follows monthly rates</label>
            <label nz-radio nzValue="hourly-rate">Follows hourly rates</label>
          </nz-radio-group>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template #footerTemplate>
    <div class="space-x-2 flex items-center">
      <button nz-button nzBlock (click)="toggle(null)">Close</button>
      <button nz-button nzType="primary" (click)="onCreate()" [nzLoading]="loading" nzBlock [disabled]="classFormGroup.invalid" *ngIf="!classFormGroup.value._id">Submit</button>
      <button nz-button nzType="primary" (click)="onUpdate()" [nzLoading]="loading" nzBlock [disabled]="classFormGroup.invalid" *ngIf="classFormGroup.value._id"
        >Save Changes</button
      >
    </div>
  </ng-template>
</nz-modal>
