.student-receipt-container {
  overflow: hidden;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;
    width: 250px;
    height: 260px;
    opacity: 0.1;
    background-image: url(/assets/images/logo1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  h4 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 7.5pt;
  }
  .s1 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 9.5pt;
  }
  h3 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
  }
  h1 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 21.5pt;
  }
  p {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11.5pt;
    margin: 0pt;
  }
  h2 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11.5pt;
  }
  .s2 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 11.5pt;
  }
}
