<div class="h-[55px] bg-white justify-between flex border-b items-center px-4">
  <div class="flex items-center flex-1 space-x-4">
    <div class="max-w-sm w-full" [formGroup]="filterFormGroup">
      <nz-input-group [nzPrefix]="searchPrefixTemplate" [nzSuffix]="searchSuffixTemplate" class="space-x-1.5">
        <input nz-input placeholder="Search for: Name" nzShape="round" formControlName="searchQuery" />
      </nz-input-group>
      <ng-template #searchPrefixTemplate>
        <span class="text-base cursor-pointer text-gray-400 ph ph-magnifying-glass"></span>
      </ng-template>
      <ng-template #searchSuffixTemplate>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"></span>
      </ng-template>
    </div>
  </div>
  <div class="space-x-6 flex items-center">
    <div class="space-x-2 flex items-center">
      <button nz-button nzType="primary" (click)="manageAnnouncementModal.announcementId = null; manageAnnouncementModal.toggle()">
        Add Announcement
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </div>
  </div>
</div>

<div class="overflow-auto bg-white mini-scroll-bar flex-1 h-[calc(100vh-110px)]" reach-scroll-to-bottom (on-reach)="loadData()">
  <table role="table" class="min-w-full divide-y divide-gray-200 isms-table">
    <thead>
      <tr class="font-bold text-gray-700">
        <th class="w-10">
          <div class="relative grid place-items-center">
            <!-- <label nz-checkbox (nzCheckedChange)="onAllCandidateChecked($event)" class="absolute top-[-11px]"></label> -->
            #
          </div>
        </th>
        <th class="">
          <div class="flex items-center justify-between">Title</div>
        </th>
        <th class="">
          <div class="flex items-center justify-between">Content</div>
        </th>
        <th class="">
          <div class="flex items-center justify-between">Status</div>
        </th>
        <th class="">
          <div class="flex items-center justify-between">Created Date</div>
        </th>
        <th class=""></th>
      </tr>
    </thead>
    <tbody class="text-sm bg-white divide-y divide-gray-200">
      <tr *ngFor="let announcement of filteredAnnouncements; trackBy: identify; let i = index">
        <td>
          <div class="relative grid place-items-center">
            <!-- <label nz-checkbox [(ngModel)]="course.selected" class="absolute top-[-11px]"></label> -->
            {{ i + 1 }}
          </div>
        </td>

        <td>
          <div class="flex items-center space-x-3">
            <span class="text-xs font-normal text-gray-700 cursor-pointer" (click)="onEdit(announcement._id)"> {{ announcement.title }} </span>
          </div>
        </td>

        <td class="font-normal text-xs text-gray-500">
          {{ announcement.message }}
        </td>

        <td class="font-normal text-xs text-gray-500">
          <div class="flex space-x-2">
            <div class="px-1.5 text-xs grid place-items-center border border-success-400 text-success-500 bg-success-50 rounded-md" *ngIf="announcement.verified">Verified</div>
            <div class="px-1.5 text-xs grid place-items-center border border-gray-400 text-gray-500 bg-yellow-50 rounded-md" *ngIf="!announcement.verified">Unverified</div>
          </div>
        </td>

        <td class="font-normal text-xs text-gray-500">{{ announcement.createdAt | date: "MM/d/YY • hh:mm a" }}</td>

        <td class="font-normal text-xs text-gray-500">
          <button
            *ngIf="accountStore.account.role === 'admin' && !announcement.verified"
            nz-button
            nzType="link"
            nzSize="small"
            nz-popconfirm
            nzPopconfirmTitle="Approve this?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="onApprove(announcement._id)"
            (nzOnCancel)="(1)">
            Approve
          </button>
          <button
            nz-button
            nzType="link"
            nzSize="small"
            nz-popconfirm
            nzPopconfirmTitle="Delete this?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="onDelete(announcement._id)"
            (nzOnCancel)="(1)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<isms-manage-announcement-modal #manageAnnouncementModal (on-submitted)="loadData()"></isms-manage-announcement-modal>
